<div class="container">
  <div class="new_cocktail">
    <button type="button" class="btn_white" data-toggle="modal" data-target="#exampleModalCenter">
        Add cocktail
      </button>
  </div>

  <div class="headings">
    <h1>Mister</h1>
    <h2>Cocktail</h2>
  </div>



  <div class="cards">
    <% @cocktails.each do |cocktail| %>
      <% if cocktail.photo.present? %>
        <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.1), rgba(0,0,0,0.1)), url(<%= cl_image_path(cocktail.photo.key) %>)">
          <div class="cocktail_link">
            <%= link_to cocktail_path(cocktail) do %>
              <button class="btn_white_md"><%= cocktail.name %></button>
            <% end %>
          </div>
        </div>
      <% else %>
        <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.1), rgba(0,0,0,0.1)), url(<%= cl_image_tag("cocktail_home", :class => "img_preview") %>)">
          <div class="cocktail_link">
            <%= link_to cocktail_path(cocktail) do %>
              <button class="btn_white_md"><%= cocktail.name %></button>
            <% end %>
          </div>
        </div>
      <% end %>
    <% end %>
  </div>
</div>

<!-- Modal -->
<div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLongTitle">Add a new cocktail</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <%= render 'cocktails/new' %>
      </div>
    </div>
  </div>
</div>


