<div class="container">
  <div class="new_cocktail">
    <%= link_to new_cocktail_path do %>
      <button class="btn_white"><%= "Add cocktail" %></button>
    <% end %>
  </div>

  <div class="headings">
    <h1>Mister</h1>
    <h2>Cocktail</h2>
  </div>



  <div class="cards">
    <% @cocktails.each do |cocktail| %>
      <% if cocktail.photo.present? %>
        <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.1), rgba(0,0,0,0.1)), url(<%= cl_image_path(cocktail.photo.key) %>)">
          <div class="cocktail_link">
            <%= link_to cocktail_path(cocktail) do %>
              <button class="btn_white_md"><%= cocktail.name %></button>
            <% end %>
          </div>
        </div>
      <% else %>
        <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.1), rgba(0,0,0,0.1)), url(<%= cl_image_tag("cocktail_home", :class => "img_preview") %>)">
          <div class="cocktail_link">
            <%= link_to cocktail_path(cocktail) do %>
              <button class="btn_white_md"><%= cocktail.name %></button>
            <% end %>
          </div>
        </div>
      <% end %>
    <% end %>
  </div>

</div>


