
<div class="container d-flex flex-column justify-content-between">
  <div class="nav d-flex justify-content-between">
    <div class="back_link">
      <%= link_to cocktails_path do %>
        <button class="btn_white">Back</button>
      <% end %>
    </div>

    <div class="add_link">
      <%= link_to new_cocktail_dose_path(@cocktail) do %>
        <button class="btn_white">Add ingredient</button>
      <% end %>
    </div>
  </div>

  <div class="headings_show">
    <h1>Mister</h1>
    <h2><%= @cocktail.name %></h2>
  </div>

  <div class="main_image">
    <% if @cocktail.photo.present? %>
      <%= cl_image_tag @cocktail.photo.key, height: 267, width: 400, crop: :fill %>
    <% else %>
      <%= cl_image_tag("cocktail_home", :class => "img_preview") %>
    <% end %>
  </div>

  <div class="list_ingredients">
    <ul>
      <% @cocktail.doses.each do |dose| %>
        <li>
          <%= dose.description %> <%= dose.ingredient.name %> <%= link_to dose_path(dose), method: :delete, data: {confirm: "Are you sure?"}  do%>
          <i class="far fa-trash-alt"></i>
          <% end %>
        </li>
      <% end %>
    </ul>
  </div>
</div>



<!-- Button trigger modal -->
<button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModalCenter">
  Launch demo modal
</button>

<!-- Modal -->
<div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLongTitle">Modal title</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <% render 'doses/new' %>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary">Save changes</button>
      </div>
    </div>
  </div>
</div>





